<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Social Tree - Nélio Souza Alves</title>
  </head>

  <body>
    <div class="container-sm">
      <div class="row">
        <div class="">
          <div class="col-front-social-tree">
            <div class="col-front-img">
              <a href="">
                <img src="" alt="Foto de perfil">
              </a>
              <p>
                Nélio Souza Alves
              </p>
            </div>

            <div class="col-front-list">
              <ul>
                <li>
                  <a href="">link's 1</a>
                </li>
                <li>
                  <a href="">link's 2</a>
                </li>
                <li>
                  <a href="">link's 3</a>
                </li>
                <li>
                  <a href="">link's 4</a>
                </li>
              </ul>
            </div>

            <div class="col-front-redes-sociais">

            </div>
          </div>
        </div>
      </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap-grid.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </body>

</html>